{% extends "base.html"%}
{% block content %}

	<div class="container">
		<div class="row">
            {% for category, message in get_flashed_messages(with_categories=True) %}
              <div class="{{category}}">Error: {{ message }}</div>
            {% endfor %}
			<div class="col-lg-12">
				<div id="content">
					<h1>Dog Breed Predict</h1>
					<h3>Let AI Predict Your Dog Breed</h3>
					<hr>
					<form class="md-form" method="post" action="/" enctype="multipart/form-data">
					  <div class="file-field">
					    <div class="btn btn-primary btn-sm float-left">
					      <span>Choose file</span>
					      <input type="file" name="image" autocomplete="off" required>
					    </div>
<!--					    <div class="file-path-wrapper">-->
<!--					      &lt;!&ndash; <input class="file-path validate" type="text" placeholder="Upload your file"> &ndash;&gt;-->
<!--					    </div>-->
						  <button class="btn btn-default btn-lg"><i class="fas fa-dog"></i> Get prediction!</button>
					  </div>
					</form>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
